* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    position: relative;
}

.wrapper {
    height: 100vh;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    align-items: center;
    flex-direction: row;
    position: relative;
    width: 100%;
    background: #f5cb09;
}